<div class="row">
    <div class="col-md-12">
        <div class="widget">
            <div class="activity-sec">
                <div class="widget-title">
                    <h3>Amounts over time</h3>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="viewOrganisations">Organisation</label>
                                <select class="form-control" name="organisation" multiple chosen ng-model="viewOrganisations"
                                        placeholder-text-multiple="'Select organisations'" ng-change="checkSelection()"
                                        ng-options="organisation.label for organisation in spendingOrganisations">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 pull-right">
                            <button type="button" ng-click="onClickFilterVisible()" class="btn btn-default pull-right">
                                <span ng-show="!filtersVisible">Filter</span>
                                <span ng-show="filtersVisible">Hide filter</span>
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="filtersVisible">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <button ng-click="category=null" class="btn btn-default btn-xs pull-right" ng-show="category"><i class="fa fa-remove"></i></button> 
                                <label for="category">Category</label>
                                <!--<select class="form-control" name="category" ng-model="category">-->
                                    <!--<option default value="">-- select --</option>-->
                                    <!--<option ng-repeat="cat in spendingCategories track by cat.name" value="{{cat.name}}">{{cat.name}}</option>-->
                                <!--</select>-->
                                <select class="form-control" name="category" multiple chosen ng-model="category"
                                        placeholder-text-multiple="'Select Categories'"
                                        ng-options="cat for cat in spendingCategories">
                                    <option value=""></option>
                                </select>                                
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <button ng-click="service=null" class="btn btn-default btn-xs pull-right" ng-show="service"><i class="fa fa-remove"></i></button>                             
                                <label for="service">Service</label>
                                <!--<select class="form-control" name="service" ng-model="service">-->
                                    <!--<option default value="">-- select --</option>-->
                                    <!--<option bindonce ng-repeat="service in spendingServices track by service.name" value="{{service.name}}">{{service.name}}</option>-->
                                <!--</select>-->
                                <select class="form-control" name="service" multiple chosen ng-model="service"
                                        placeholder-text-multiple="'Select Services'"
                                        ng-options="service for service in spendingServices">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="filterDate">Date range</label>
                                <input date-range-picker name="filterDate" class="form-control date-picker" type="text" ng-model="filterDate" options="{ranges: ranges, alwaysShowCalendars: true}"/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="service">Group by period</label>
                                <select class="form-control" name="period" ng-model="period">
                                    <option value="quarter">Quarter</option>
                                    <option value="month">Month</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12" ng-show="clients.length">
                            <div class="form-group">
                                <label for="service">Compare your data</label>
                                <select class="form-control" name="selectedClient" ng-model="selectedClient" ng-options="client as client.name for client in clients"></select>
                            </div>
                        </div>
                    </div>

                    <div id="timeChart" dx-chart="{  valueAxis: chartData.valueAxis, legend: chartData.legend, onPointClick: chartData.onPointClick,
                                    bindingOptions: { series: 'chartData.series', dataSource: 'chartData.dataSource', tooltip: 'chartData.tooltip' } }"
                        ng-show="spendingPerTime.length"></div>

                    <div ng-show="spendingPerTime.length === 0">
                        <p>Loading...</p>
                    </div>
                    <button type="button" ng-click="onClickDetailsVisible()" class="btn btn-default pull-right">
                        <span ng-show="!detailsVisible">Show details</span>
                        <span ng-show="detailsVisible">Hide details</span>
                    </button>
                    <div ng-show="detailsVisible">
                        <table class="table table-striped">
                            <tr>
                                <th>Organisation</th>
                                <th>Year</th>
                                <th>
                                    <span ng-show="period=='month'">Month</span>
                                    <span ng-show="period=='quarter'">Quarter</span>
                                </th>
                                <th>Total</th>
                                <th ng-show="selectedClient">Through {{selectedClient.name}}</th>
                                <th ng-show="selectedClient">%</th>
                            </tr>
                            <tr ng-repeat="spendGroup in mergedSpendingPerTime.merged">
                                <td>
                                    <span ng-hide="spendGroup.isSubTotal">{{ spendGroup._group.organisation_name }}</span>
                                    <span ng-show="spendGroup.isSubTotal"><strong>{{ spendGroup._group.organisation_name }}</strong></span>
                                </td>
                                <td>{{ spendGroup._group.year }}</td>
                                <td><span ng-show="period=='quarter' && spendGroup._group[period] != ''">Q</span>{{spendGroup._group[period]}}</td>
                                <td>£{{spendGroup.totalAmount | number: 2}} </td>
                                <td ng-show="selectedClient"><span ng-show="spendGroup.client_amount_net">£{{spendGroup.client_amount_net | number: 2}}</span></td>
                                <td ng-show="selectedClient">{{spendGroup.client_amount_net_percent | number: 1}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td></td>
                                <td></td>
                                <td>£{{mergedSpendingPerTime.totalValues.total | number: 2}} </td>
                                <td ng-show="selectedClient"><span ng-show="mergedSpendingPerTime.totalValues.client_amount_net">£{{mergedSpendingPerTime.totalValues.client_amount_net | number: 2}}</span></td>
                                <td ng-show="selectedClient">{{mergedSpendingPerTime.totalValues.client_amount_net_percent | number: 1}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row relative">
    <div class="init col-lg-4 col-md-6">
        <spending-grouped class="init" ng-show="drillDownVisible" subfilter="category" filters="subChartFilters" group-field="'procurement_classification_1'" filter-date="filterDate" sel-date="selectedPeriod" filter-name="filterPeriodName" full-screen-mode="fullScreenMode"></spending-grouped>
    </div>
    <div class="init col-lg-4 col-md-6">
        <spending-grouped class="init" ng-show="drillDownVisible" subfilter="supplier_name" filters="subChartFilters" group-field="'supplier_name'" filter-date="filterDate" sel-date="selectedPeriod" filter-name="filterPeriodName"></spending-grouped>
    </div>
    <div class="init col-lg-4 col-md-6">
        <spending-grouped class="init" ng-show="drillDownVisible" subfilter="service" filters="subChartFilters" group-field="'sercop_service'" filter-date="filterDate" sel-date="selectedPeriod" filter-name="filterPeriodName"></spending-grouped>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div ng-show="selectedOrganisation=='Wakefield MDC'">
            <spending-performance spending-data="publicSpendingData" organisation-name="selectedOrganisation" ng-show="performanceIndicatorsVisible"></spending-performance>
        </div>
    </div>
</div>