<div ng-show="insight" class="mini-stats" style="margin-top: 1em">
    <div class="ribbon-wrapper">
        <div class="ribbon-design purple-skin">INSIGHT</div>
    </div> <span class="sky-skin" style="background-color: {{insight.color}}; border-color: {{insight.color}} !important;"><i class="fa fa-gbp"></i></span>
    <p><i class="fa fa-arrow-down down" ng-show="insight.percentage < 0">
        </i><i class="fa fa-arrow-up up" ng-show="insight.percentage > 0"></i> {{insight.description}}</p>
    <a href="/spending/insights/{{insight.organisation_name}}/{{insight.type}}/{{insight.id}}">
        <h3>{{insight.amountText}}</h3>
    </a>
</div>
<div class="widget" ng-class="{'full-screen': fullScreenMode}">
    <div class="activity-sec">
        <div class="widget-title">
            <h3>Spend by {{groupDisplayName}}</h3>
            <button class="btn btn-default pull-right hidden-xs hidden-sm" ng-click="fullScreenMode = !fullScreenMode">
                <i class="fa fa-expand" ng-if="!fullScreenMode"></i>
                <i class="fa fa-compress" ng-if="fullScreenMode"></i>            
            </button>
            <span ng-if="filterPeriodName">Filter Applied: {{filterPeriodName}}</span>
            <div id="chart" dx-chart="{ commonSeriesSettings: chartOptions.commonSeriesSettings, argumentField: chartOptions.argumentField, argumentAxis: chartOptions.argumentAxis, 
                rotated: chartOptions.rotated, legend: chartOptions.legend, export: chartOptions.export, title: chartOptions.title, tooltip: chartOptions.tooltip, 
                valueAxis: chartOptions.valueAxis, bindingOptions: {dataSource: 'chartOptions.dataSource', series: 'chartOptions.series', size: 'chartOptions.size', 
                customizePoint: 'chartOptions.customizePoint', onPointClick: 'chartOptions.onPointClick'} }"></div>
            <button type="button" ng-click="detailsVisible = !detailsVisible" class="btn btn-default pull-right">
                <span ng-show="!detailsVisible">Show details</span>
                <span ng-show="detailsVisible">Hide details</span>
            </button>

            <div ng-show="detailsVisible">
                <table class="table table-striped">
                    <tr>
                        <th class="text-capitalize">{{groupDisplayName}}</th>
                        <th>Total</th>
                    </tr>
                    <tr ng-repeat="spendGroup in spendingGrouped">
                        <td>{{spendGroup._group}}</td>
                        <td>£{{spendGroup.totalAmount | number: 2}} </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>