/* More space for the logo */
.top-bar .logo {
    /* min-width: 250px; */
    padding-left: 20px;
}

.top-bar .logo > a > img {
    margin-right: 10px;
}

header .admin-details {
    background: transparent;
}

.side-menus nav > ul > li a  {
    padding-left: 30px;
}