version: '2'
services:
  rethinkdb:
    build: ./rethinkdb
    container_name: buyco_procurement_data_browser_rethinkdb_${BPDB_ENV}
    image: buyco_procurement_data_browser_rethinkdb:${BPDB_ENV}
# Expose RethinkDB client port to linked containers
    expose:
      - "28015"
# Expose web admin port locally to host for admin purposes
    # ports:
    #   - "127.0.0.1:8080:8080"
    volumes:
      - ./data/rethinkdb:/data
  mongo:
    image: mongo
    container_name: buyco_procurement_data_browser_mongo_${BPDB_ENV}
    expose:
      - "27017"
    volumes:
      - ./data/mongodb:/data/db
  app:
    build: ./app
    container_name: buyco_procurement_data_browser_${BPDB_ENV}
    image: buyco_procurement_data_browser_app:${BPDB_ENV}
    volumes:
      - ./data/app:/data
# The web port is opened on local host only. Made available externally through nginx proxy.
# Make sure that the container port number matches the Metior port number in PORT below.
    ports:
      - "127.0.0.1:${BPDB_PORT}:4000"
# The app container has access to both database containers on the (internally) exposed ports.
    links:
      - rethinkdb
      - mongo
    environment:
      - RETHINKDB_HOST=rethinkdb
      - MONGO_URL=mongodb://mongo
      - ROOT_URL=${BPDB_ROOT_URL}
      - BPDB_ENV=${BPDB_ENV}
      - PORT=4000
