<h1>Procurement spending</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Amounts per month</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="selectedOrganisation">Organisation</label>
                    <select class="form-control" name="selectedOrganisation" ng-model="selectedOrganisation">
                        <option ng-repeat="spendingOrg in spendingOrganisations" value="{{spendingOrg.organisation_name}}">{{spendingOrg.organisation_name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" ng-model="category">
                        <option ng-repeat="cat in spendingCategories" value="{{cat.name}}">{{cat.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="service">Service</label>
                    <select class="form-control" name="service" ng-model="service">
                        <option ng-repeat="service in spendingServices" value="{{service.name}}">{{service.name}}</option>
                    </select>
                </div>
            </div>
        </div>
        <nvd3 options="chartOptions" data="chartData" ng-show="spendingPerMonth.length"></nvd3>
        <table class="table table-striped">
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Total spending</th>
            </tr>
            <tr ng-show="!spendingPerMonth.length">
                <td colspan="3">Loading...</td>
            </tr>
            <tr ng-repeat="spendGroup in spendingPerMonth">
                <td>{{ spendGroup.group[0] }}</td>
                <td>{{("00"+ spendGroup.group[1]).slice(-2) }}</td>
                <td>&pound; {{spendGroup.reduction | number: 2}}
                </td>
            </tr>
            </ul>
    </div>
</div>