<div class="top-bar">
  <div class="logo">
    <a href="/" title="">
        <img class="logo-image" src="/images/logo-graphic.png">
    </a>
    <div class="menu-options" id="menu-options">
        <span class="menu-action"><i></i></span>
    </div>
  </div>
  <div class="quick-links">
    <ul>
      <li><a title="" id="toolFullScreen" class="pink-skin"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>
</div>
<!-- Top Bar -->
<header class="side-header light-skin opened-menu">
  <div class="admin-details">
  </div>
  <div class="menu-scroll">
    <div class="side-menus">
      <nav>
        <ul>
          <li><a href="/spending/time"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <li><a href="/spending"><i class="fa fa-hdd-o"></i> <span>Transaction browser</span></a></li>
          <li><login-buttons></login-buttons></li>
        </ul>
      </nav>
      
    </div>
  </div>
  <!-- Menu Scroll -->
</header>