<!-- Toggle Content -->
<div class="top-bar">
  <div class="logo">
    <a href="/" title=""><img src="/images/logo-graphic.png"> PublicData.Works</a>
    <div class="menu-options"><span class="menu-action"><i></i></span></div>
  </div>
  <div class="quick-links">
    <ul>
      <li><a title="" id="toolFullScreen" class="pink-skin"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>
</div>
<!-- Top Bar -->
<header class="side-header light-skin opened-menu">
  <div class="admin-details">
  </div>
  <div class="menu-scroll">
    <div class="side-menus">
      <nav>
        <ul>
          <li><a href="/spending/time"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <li><a href="/spending"><i class="fa fa-hdd-o"></i> <span>Transaction browser</span></a></li>
          <li><login-buttons></login-buttons></li>
        </ul>
      </nav>
      
    </div>
  </div>
  <!-- Menu Scroll -->
</header>
<script type="text/javascript">
$(document).ready(function () {

  "use strict";
  //***** Side Menu *****//
  $(".side-menus li.menu-item-has-children > a").on("click", function () {
    $(this).parent().siblings().children("ul").slideUp();
    $(this).parent().siblings().removeClass("active");
    $(this).parent().children("ul").slideToggle();
    $(this).parent().toggleClass("active");
    return false;
  });

  //***** Side Menu Option *****//
  $('.menu-options').on("click", function () {
    $(".side-header.opened-menu").toggleClass('slide-menu');
    $(".main-content").toggleClass('wide-content');
    $("footer").toggleClass('wide-footer');
    $(".menu-options").toggleClass('active');
  });

  /*** FIXED Menu APPEARS ON SCROLL DOWN ***/
  $(window).scroll(function () {
    var scroll = $(window).scrollTop();
    if (scroll >= 10) {
      $(".side-header").addClass("sticky");
    }
    else {
      $(".side-header").removeClass("sticky");
      $(".side-header").addClass("");
    }
  });

  $(".side-menus nav > ul > li ul li > a").on("click", function () {
    $(".side-header").removeClass("slide-menu");
    $(".menu-options").removeClass("active");
  });

  //***** Quick Stats *****//
  $('.show-stats').on("click", function () {
    $(".toggle-content").addClass('active');
  });

  //***** Quick Stats *****//
  $('.toggle-content > span').on("click", function () {
    $(".toggle-content").removeClass('active');
  });

  //***** Quick Stats *****//
  $('.quick-links > ul > li > a').on("click", function () {
    $(this).parent().siblings().find('.dialouge').fadeOut();
    $(this).next('.dialouge').fadeIn();
    return false;
  });

  $("html").on("click", function () {
    $(".dialouge").fadeOut();
  });
  $(".quick-links > ul > li > a, .dialouge").on("click", function (e) {
    e.stopPropagation();
  });

  //***** Toggle Full Screen *****//
  function goFullScreen() {
    var
      el = document.documentElement
      , rfs =
        el.requestFullScreen
        || el.webkitRequestFullScreen
        || el.mozRequestFullScreen
        || el.msRequestFullscreen

      ;
    rfs.call(el);
  }
  $("#toolFullScreen").on("click", function () {
    goFullScreen();
  });

});
</script>