<div class="toggle-content">
    <div class="panel-setting">
        <div class="row">
            <div class="col-md-2 column">
                <div class="custom-text">
                    <h4>Our Total Counts</h4>
                    <p>Rinter took a galley of type and scrambled ajnare tokeraline..</p>
                </div>
            </div>
            <div class="col-md-10 column">
                <div class="quick-stats">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$56</i>
                                    <span data-peity='{ "fill": ["#faa5ff", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>5/7</span>
                                </p>
                                <span>Today Earnings</span>
                            </div>
                        </div>
                       <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$786</i>
                                    <span data-peity='{ "fill": ["#ffb8b8", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>3/7</span>
                                </p>
                                <span>Refferel</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$345</i>
                                    <span data-peity='{ "fill": ["#ace9ff", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>4/7</span>
                                </p>
                                <span>Commision</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="quick-stats-box">
                                <p class="data-attributes">
                                    <i>$223</i>
                                    <span data-peity='{ "fill": ["#b8b8ff", "rgba(255,255,255,0.15)"],   "innerRadius": 47, "radius": 50 }'>6/7</span>
                                </p>
                                <span>New Sales</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="total-sales-info">
                                <span>Total sales made of all time</span>
                                <h3>$1,225</h3>
                                <ul>
                                    <li>
                                        <span>Target</span>
                                        <h5>$2,251</h5>
                                    </li>
                                    <li>
                                        <span>Today</span>
                                        <h5>$107</h5>
                                    </li>
                                    <li>
                                        <span>All time</span>
                                        <h5>$3,463</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="fa fa-close"></span>
</div><!-- Toggle Content -->
<div class="top-bar">
  <div class="logo">
    <a href="/" title=""><img src="/images/logo-graphic.png"> PublicData.Works</a>
    <div class="menu-options" id="menu-options"><span class="menu-action"><i></i></span></div>
  </div>
  <div class="quick-links">
    <ul>
      <li><a title="" id="toolFullScreen" class="pink-skin"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>
</div>
<!-- Top Bar -->
<header class="side-header light-skin opened-menu">
  <div class="admin-details">
  </div>
  <div class="menu-scroll">
    <div class="side-menus">
      <nav>
        <ul>
          <li><a href="/spending/time"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
          <li><a href="/spending"><i class="fa fa-hdd-o"></i> <span>Transaction browser</span></a></li>
          <li><login-buttons></login-buttons></li>
        </ul>
      </nav>
      
    </div>
  </div>
  <!-- Menu Scroll -->
</header>
<script type="text/javascript">
    $(document).ready(function () {
        "use strict";
        //***** Side Menu *****//
        $(".side-menus li.menu-item-has-children > a").on("click", function () {
            $(this).parent().siblings().children("ul").slideUp();
            $(this).parent().siblings().removeClass("active");
            $(this).parent().children("ul").slideToggle();
            $(this).parent().toggleClass("active");
            return false;
        });

        //***** Side Menu Option *****//
        $('.menu-options').on("click", function () {
            $(".side-header.opened-menu").toggleClass('slide-menu');
            $(".main-content").toggleClass('wide-content');
            $("footer").toggleClass('wide-footer');
            $(".menu-options").toggleClass('active');

            // The menu collapse/expand resizes the main container. We need to inform
            // components that they should do any resize operations.
            
            let requestResize = () => {
                // Call angular functions from outside the controller
                angular.element('#menu-options').scope().requestResize();
                angular.element('#menu-options').scope().$apply();
            };

            // The menu resize uses an animation. The event should only be emitted when the animation
            // has finished and the components have taken their final size. Use setTimeout as a workaround.

            // TODO: properly detect when the menu animation has finished, don't rely on an arbitrary
            // timeout.
            $(".main-content").one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend',   
                function(e) {
                    requestResize();
            });
        });

        /*** FIXED Menu APPEARS ON SCROLL DOWN ***/
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 10) {
            $(".side-header").addClass("sticky");
            }
            else {
            $(".side-header").removeClass("sticky");
            $(".side-header").addClass("");
            }
        });

        $(".side-menus nav > ul > li ul li > a").on("click", function () {
            $(".side-header").removeClass("slide-menu");
            $(".menu-options").removeClass("active");
        });

        //***** Quick Stats *****//
        $('.show-stats').on("click", function () {
            $(".toggle-content").addClass('active');
        });

        //***** Quick Stats *****//
        $('.toggle-content > span').on("click", function () {
            $(".toggle-content").removeClass('active');
        });

        //***** Quick Stats *****//
        $('.quick-links > ul > li > a').on("click", function () {
            $(this).parent().siblings().find('.dialouge').fadeOut();
            $(this).next('.dialouge').fadeIn();
            return false;
        });

        $("html").on("click", function () {
            $(".dialouge").fadeOut();
        });
        $(".quick-links > ul > li > a, .dialouge").on("click", function (e) {
            e.stopPropagation();
        });

        //***** Toggle Full Screen *****//
        function goFullScreen() {
            var
            el = document.documentElement
            , rfs =
                el.requestFullScreen
                || el.webkitRequestFullScreen
                || el.mozRequestFullScreen
                || el.msRequestFullscreen

            ;
            rfs.call(el);
        }
        $("#toolFullScreen").on("click", function () {
            goFullScreen();
        });
    });
</script>